# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLACK=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLUE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALGREEN=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALLIGHTBLUE=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALRED=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALWHITE=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_ARMORMATERIALEMERALD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ACTUALLYADDITIONS_ARMORMATERIALGOGGLES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALOBSIDIAN=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_ARMORMATERIALQUARTZ=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ARCTIC=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:BiblioArmor=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:HARDENEDLEATHER=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:IRONWOOD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTPHANTOM=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NAGA_SCALE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:PERIDOT=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:SAPPHIRE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:YETI=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 2]
    I:crystal=2

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:emerald=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:glowing=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:hat_material=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:"wirelessutils:glasses"=20
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLACK=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLUE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALGREEN=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALLIGHTBLUE=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALRED=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALWHITE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALEMERALD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALOBSIDIAN=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_TOOLMATERIALQUARTZ=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:GIANTSTONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:IRONWOOD=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:PERIDOT=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:SAPPHIRE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:TFGLASS=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:TFICE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 44]
    I:crystal=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:emerald=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:nether=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 44]
    I:power=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:sandstone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:spectre=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:vile=14
}


