# Configuration file

balance {
    # The amount of souls to absorb from Mob Spawners. [range: 0 ~ 2147483647, default: 200]
    I:absorptionBonus=200

    # Adds a shapeless recipe that allows shards to be reset fresh. [default: true]
    B:addShardResetRecipe=true

    # Allows boss mobs to be spawned by cages. Some bosses (like the Ender Dragon) have custom logic which causes them to not work properly when spawned. [default: false]
    B:allowBossSpawns=false

    # Allows fake players to grow Shards in their inventories. [default: false]
    B:allowFakePlayers=true

    # Allows shards of the same entity to be combined in an anvil for a direct kill addition. [default: true]
    B:allowShardCombination=true

    # Allow shards to absorb Mob Spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # Mobs spawned via the cage should count toward shard kills. [default: false]
    B:countCageBornForShard=true

    # Mobs spawned via the cage will drop experience. [default: true]
    B:dropExperience=true

    # The maximum amount of cage born mobs that a cage can have in a 16 block radius before shutting off. [range: 0 ~ 256, default: 30]
    I:spawnCap=60
}


client {
    # Displays a durability bar for how full the shard is compared to the max tier available. [default: true]
    B:displayDurabilityBar=true

    # Displays a shard for every enabled entity in the creative tab. [default: false]
    B:explodeCreativeTab=false

    # Adds blacklisted entities to the creative tab if "explodeCreativeTab" is true. [default: false]
    B:ignoreBlacklistForTab=false
}


##########################################################################################################
# entity_list
#--------------------------------------------------------------------------------------------------------#
# Enabling boss mobs is not supported. If they work, great. If not, oh well.
##########################################################################################################

entity_list {
    # Allows the gathering and spawning of robot [default: true]
    B:"cyclicmagic:robot"=true

    # Allows the gathering and spawning of enderutilities.endermanfighter [default: true]
    B:"enderutilities:endermanfighter"=true

    # Allows the gathering and spawning of ArmorStand [default: false]
    B:"minecraft:armor_stand"=false

    # Allows the gathering and spawning of Bat [default: true]
    B:"minecraft:bat"=true

    # Allows the gathering and spawning of Blaze [default: true]
    B:"minecraft:blaze"=true

    # Allows the gathering and spawning of CaveSpider [default: true]
    B:"minecraft:cave_spider"=true

    # Allows the gathering and spawning of Chicken [default: true]
    B:"minecraft:chicken"=true

    # Allows the gathering and spawning of Cow [default: true]
    B:"minecraft:cow"=true

    # Allows the gathering and spawning of Creeper [default: true]
    B:"minecraft:creeper"=true

    # Allows the gathering and spawning of Donkey [default: true]
    B:"minecraft:donkey"=true

    # Allows the gathering and spawning of ElderGuardian [default: false]
    B:"minecraft:elder_guardian"=false

    # Allows the gathering and spawning of EnderDragon [default: false]
    B:"minecraft:ender_dragon"=false

    # Allows the gathering and spawning of Enderman [default: true]
    B:"minecraft:enderman"=true

    # Allows the gathering and spawning of Endermite [default: true]
    B:"minecraft:endermite"=true

    # Allows the gathering and spawning of EvocationIllager [default: true]
    B:"minecraft:evocation_illager"=true

    # Allows the gathering and spawning of Ghast [default: true]
    B:"minecraft:ghast"=true

    # Allows the gathering and spawning of Giant [default: true]
    B:"minecraft:giant"=true

    # Allows the gathering and spawning of Guardian [default: true]
    B:"minecraft:guardian"=true

    # Allows the gathering and spawning of Horse [default: true]
    B:"minecraft:horse"=true

    # Allows the gathering and spawning of Husk [default: true]
    B:"minecraft:husk"=true

    # Allows the gathering and spawning of IllusionIllager [default: true]
    B:"minecraft:illusion_illager"=true

    # Allows the gathering and spawning of Llama [default: true]
    B:"minecraft:llama"=true

    # Allows the gathering and spawning of LavaSlime [default: true]
    B:"minecraft:magma_cube"=true

    # Allows the gathering and spawning of MushroomCow [default: true]
    B:"minecraft:mooshroom"=true

    # Allows the gathering and spawning of Mule [default: true]
    B:"minecraft:mule"=true

    # Allows the gathering and spawning of Ozelot [default: true]
    B:"minecraft:ocelot"=true

    # Allows the gathering and spawning of Parrot [default: true]
    B:"minecraft:parrot"=true

    # Allows the gathering and spawning of Pig [default: true]
    B:"minecraft:pig"=true

    # Allows the gathering and spawning of PolarBear [default: true]
    B:"minecraft:polar_bear"=true

    # Allows the gathering and spawning of Rabbit [default: true]
    B:"minecraft:rabbit"=true

    # Allows the gathering and spawning of Sheep [default: true]
    B:"minecraft:sheep"=true

    # Allows the gathering and spawning of Shulker [default: true]
    B:"minecraft:shulker"=true

    # Allows the gathering and spawning of Silverfish [default: true]
    B:"minecraft:silverfish"=true

    # Allows the gathering and spawning of Skeleton [default: true]
    B:"minecraft:skeleton"=true

    # Allows the gathering and spawning of SkeletonHorse [default: true]
    B:"minecraft:skeleton_horse"=true

    # Allows the gathering and spawning of Slime [default: true]
    B:"minecraft:slime"=true

    # Allows the gathering and spawning of SnowMan [default: true]
    B:"minecraft:snowman"=true

    # Allows the gathering and spawning of Spider [default: true]
    B:"minecraft:spider"=true

    # Allows the gathering and spawning of Squid [default: true]
    B:"minecraft:squid"=true

    # Allows the gathering and spawning of Stray [default: true]
    B:"minecraft:stray"=true

    # Allows the gathering and spawning of Vex [default: true]
    B:"minecraft:vex"=true

    # Allows the gathering and spawning of Villager [default: true]
    B:"minecraft:villager"=true

    # Allows the gathering and spawning of VillagerGolem [default: true]
    B:"minecraft:villager_golem"=true

    # Allows the gathering and spawning of VindicationIllager [default: true]
    B:"minecraft:vindication_illager"=true

    # Allows the gathering and spawning of Witch [default: true]
    B:"minecraft:witch"=true

    # Allows the gathering and spawning of WitherBoss [default: false]
    B:"minecraft:wither"=false

    # Allows the gathering and spawning of WitherSkeleton [default: true]
    B:"minecraft:wither_skeleton"=true

    # Allows the gathering and spawning of Wolf [default: true]
    B:"minecraft:wolf"=true

    # Allows the gathering and spawning of Zombie [default: true]
    B:"minecraft:zombie"=true

    # Allows the gathering and spawning of ZombieHorse [default: true]
    B:"minecraft:zombie_horse"=true

    # Allows the gathering and spawning of PigZombie [default: true]
    B:"minecraft:zombie_pigman"=true

    # Allows the gathering and spawning of ZombieVillager [default: true]
    B:"minecraft:zombie_villager"=true

    # Allows the gathering and spawning of openblocks.luggage [default: true]
    B:"openblocks:luggage"=true

    # Allows the gathering and spawning of openblocks.mini_me [default: true]
    B:"openblocks:mini_me"=true

    # Allows the gathering and spawning of quark:archaeologist [default: true]
    B:"quark:archaeologist"=true

    # Allows the gathering and spawning of quark:ashen [default: true]
    B:"quark:ashen"=true

    # Allows the gathering and spawning of quark:crab [default: true]
    B:"quark:crab"=true

    # Allows the gathering and spawning of quark:dweller [default: true]
    B:"quark:dweller"=true

    # Allows the gathering and spawning of quark:foxhound [default: true]
    B:"quark:foxhound"=true

    # Allows the gathering and spawning of quark:frog [default: true]
    B:"quark:frog"=true

    # Allows the gathering and spawning of quark:leash_knot [default: true]
    B:"quark:leash_knot"=true

    # Allows the gathering and spawning of quark:pirate [default: true]
    B:"quark:pirate"=true

    # Allows the gathering and spawning of quark:stoneling [default: true]
    B:"quark:stoneling"=true

    # Allows the gathering and spawning of quark:wraith [default: true]
    B:"quark:wraith"=true
}


server {
    # Requires the shard owner to be online. The owner is the first person to obtain a kill with the shard. [default: false]
    B:requireOwnerOnline=false

    # Requires a redstone signal to activate cages regardless of tier. [default: false]
    B:requireRedstoneSignal=false
}


